#forgot-form
{
    margin-top:100px;
}

.btn-color
{
    background-color:#46A3FF;
    border-color:#46A3FF;
    color:white;
}
.btn-color:hover,.btn-color:focus
{
    background-color:#2894FF;
    border-color:#2894FF;
    color:white;
    border-radius:4px;
}
.forgot-panel .panel-heading
{
    border-radius:4px;
}
.forgot-panel .panel-body a
{
    color:black;
}
.forgot-panel .panel-body a:hover
{
    color: #d43133;
}
.forgot-panel .validcode
{
    width:80px;
}
#bottom
{
    margin-top:100px;
}
/*#footer
{
    margin-top:112px;
}*/
@media (min-width:1024px)
{
    .forgot-panel{
        min-width:360px;
    }
    .forgot-panel .panel{
         min-width:360px;
    }
}
@media (min-width:768px) and (max-width:1024px)
{
    .forgot-panel{
        margin-left:5%;
        width:90%;
    }
    
}
@media (max-width:767px)
{
    .forgot-panel{
         margin-left:10%;
        width:80%;
    }
}